@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#fundo{
    background-image: linear-gradient(45deg, black,rgb(30, 20, 220));
    height: 100vh;
    color: #fff;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgb(0, 0, 0,0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 15px;
}

.calculadora h2{
    margin-bottom: 10px;
}

#resultado{
    background-color: #fff;
    width: 342px;
    height: 30px;
    margin: 5px;
    border-radius: 8px;
    padding: 15px 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: #000;
    font-size: 25px;
    overflow: hidden;
}

.botao{
    width: 80px;
    height: 60px;
    font-size: 25px;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    color: #fff;
    border: none;
}

.botao:hover{
    background-color: black;
}

.operadores{
    background-color: #df4e01;
    
}

.resposta{
    background-color: #0267ff;
}

footer{
    background-color: #000;
    color: #fff;
    padding: 7px;
    text-align: center;
}